@charset 'utf8';

<style>
  .container{
    width: 980px;
    margin:0 auto;
  }
  .recommend{
    margin-bottom: 10px;
    display: block;
    height:315px;
    position: relative;
  }
  .recommend .label{
    position: absolute;
    top: 10%;
    -webkit-transform : translateY(50%);
    transform : translateY(50%);
    content: 'Box';
    width:40%;
  }
  .recommend iframe{
    width: 60%;
    float: right;
  }
</style>
