@charset 'utf8';

html {
      font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;font-size:106.25%;quotes:"“" "”"
    }
}
  .container{
    width: 980px;
    margin:0 auto;
  }
  .recommend{
    margin-bottom: 10px;
    width:100%;
    display: block;
    height:315px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:110px
  }
  .recommend .label{
    width:50%;
    font-weight: 600px;
  }
  .recommend iframe{
    width: 60%;
  }
  .recommend  .right{
    margin-left:20px;
    margin-right: 200px;
    float:right;
  }
  .recommend  .left{
    float: left;
    margin-left: 200px;
  }
  .series{
    font-size: 21px;
  }
  .title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
  }
  .sub_title{
    font-size: 23px;
    margin-bottom: 28px;
  }
  .ranking{
    color:#f56400;
    font-size: 21px;
    margin-bottom: 10px;
  }
  .movie_link{
    display:inline-block;
    margin-top:10px;
    border-radius: 18px;
    background-color: blue;
    padding:5px  10px;
    color:white;
    font-weight: 400;
    font-size: 12px;
  }
